<% if(currentUser) { %>
  <section class="row text-center beginRow">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <h2 class="searchH2">Beginner Projects</h2>
      <section class="row text-center block">
        <% if(beginnerProjects) { %>
          <% beginnerProjects.forEach(function(value, index) { %>
            <div class="well col-sm-4 beginDiv">
              <h2 class="beginnersH2"><%= value.title %> </h2><br>
              <h3 class="beginnersH3"><a href="http://www.instructables.com<%= value.link%>">Check it out</a></h3>
              <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://www.instructables.com<%= value.link %>&media=<%= value.image %>&description=<%= value.title %>"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
              <img src="<%= value.image %>" class="beginProj">
            </div>
          <% }); %>
        <% } %>
      </section>
    </div>
    <div class="col-sm-1">
    </div>
  </section>
  <% } else { %>
    <section class="row text-center else">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 jumbotron">
        <h3> Please log in to continue </h3>
        <div>
          <a href="/auth/login" class="btn btn-success">Login</a>
          <a href="/auth/signup" class="btn btn-success">Signup</a>
      </div>
      <div class="col-sm-4">
      </div>
    </section>
  <% } %>
