<% if(currentUser) { %>
  <section class="row text-center">
    <h1 id="toolH1">Your Tool Page!</h1>
  </section>
  <section class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 text-center toolDiv">
      <section class="row">
        <h2 id="toolH2">Find more tools!</h2>
        <form action="/tools" method="POST" role="form" class="searchToolForm">
          <input type="text" class="form-control" name="search" placeholder="Search for tools">
          <input type="submit" class="btn btn-success" value="See Tools"><br>
        </form>
      </section>
      <section class="row text-center">
        <% if (hdTools) { %>
          <% console.log(hdTools); %>
          <% hdTools.hdTools.forEach(function(value, index) { %>
            <div class="well">
              <h2 class="toolsH2"><%= value.title %></h2>
              <a href="http://www.homedepot.com<%= value.link %>"><img src="<%= value.image %>"></a>
              <form method='POST' action='/tools/userTools'>
                <input type='hidden' value='<%= value.title %>' name='name'>
                <input type='hidden' value='<%= value.link %>' name='link'>
                <input type='hidden' value='<%= value.image %>' name='image'>
                <input type='submit' class='btn btn-info' value='Add to Your Tools'>
              </form>
            </div>
          <% }); %>
        <% } %>
      </section>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <section class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 toolDiv text-center">
          <h1>Your tools!</h1>
          <% if (tools) { %>
          <% tools.forEach(function(tool){ %>
            <div class="well">
              <a href='<%= tool.link%>'><h2><%= tool.name %><br>
              <img src='<%= tool.image %>'>
            </div>
          <% }); %>
          <% } %>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </section>
<% } else { %>
<section class="row text-center">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 jumbotron">
    <h3> Please log in to conitune </h3>
    <div>
      <a href="/auth/login" class="btn btn-success">Login</a>
      <a href="/auth/signup" class="btn btn-success">Signup</a>
  </div>
  <div class="col-sm-4">
  </div>
</section>
<% } %>
